@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
*{
    
    box-sizing: border-box;
    font-family: kurale,sans-serif,'Times New Roman', Times, serif;
    /* color: #777; */
}
.nav li{
    display:inline;
}
.nav a{
    display: inline-block;
    padding: 1%;
    text-decoration: none;
    color: #777;
}
.nav a:hover{
    background-color:darkblue;
    color: white;
}
.main-nav{
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid black;
}
.about-image {
    float:left;   
    width: 200px;
    margin: 15px;
    border-radius: 50%;   
}
.bold {
    font-weight: bold;
}


.main-header{
    display: flexbox;
    text-align: center;
    background-color:darkblue;
    color: white;
    padding:.25em.5em.5em ;
}
.main-footer{
    display: flexbox;
    background-color: darkblue;
    color : white;
    padding: 25px;
}

.copyright{
    float: left;
}
.footer-text{
    float: left;
}
.footer-logo{
    float:right;
}
.col{
    width: 33.3%;
    /* background-color: red; */
   
}
.from{
    text-align:right;
    color: red;
}